html{
	scroll-behavior: smooth;
}
.EdWo hr{
	border: none;
    background-color: #E5E5E5;
    color: #E5E5E5;
    height: 1px;
}
hr{
	border: none;
    background: rgba(229, 229, 229, 0.3);
    color: rgba(229, 229, 229, 0.3);
    height: 1px;
}